DEBUG=1
SECRET_KEY=django-insecure-replace-this-in-real-env
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=edusys
POSTGRES_USER=edusys
POSTGRES_PASSWORD=edusys
POSTGRES_HOST=db
POSTGRES_PORT=5432

EMAIL_HOST=mailhog
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=no-reply@edusys.local
